<mat-card>
  <form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
    <mat-form-field appearance="fill">
      <mat-label>Add Note</mat-label>
      <textarea
        matInput
        required
        placeholder="Add Note"
        formControlName="note"></textarea>
    </mat-form-field>
    <mat-card-footer>
      <button mat-raised-button color="primary" type="save">Save</button>
      <button mat-raised-button color="secondary" (click)="cancel()">Cancel</button>
    </mat-card-footer>
  </form>
</mat-card>
